<!-- 
<router-outlet></router-outlet>
<app-header></app-header>


<form action=""  #login="ngForm">

    <label for="user">Username:</label>
    <input minlength='2' type="text" ngModel name="username" #user="ngModel" class="form-control" required>
    
    <ng-container *ngIf="user.touched">
        <p class="error-msg" *ngIf="user.errors?.['required']">Username is required</p>
        <p class="error-msg" *ngIf="user.errors?.['minlength']">Username contains 4 Characters </p>
    </ng-container>

    <label for="pwd">Password:</label>
    <input type="password" ngModel name="password" #pwd="ngModel" class="form-control" required>

    <button class="btn btn-primary" (click)="Submit(login)">Submit</button>

</form> -->

<!-- <form [formGroup]="login">
    <label>Username:</label>
    <input type="text" class="form-control w-50 m-2"  formControlName="uname">
    <ng-container *ngIf="login.get('uname').touched && login.get('uname').hasError('required')">Username is required</ng-container>
    <ng-container *ngIf="login.get('uname').touched && login.get('uname').hasError('minlength')">minlength is required</ng-container>
    <br>
    <label for="gmail">Gmail:</label>
    <input type="gmail" class="form-control w-50 m-2"  formControlName="gmail">

    <button class="btn-primary" (click)="Show()">Enter</button>
</form> -->

<!-- 
<form action="" [formGroup]="test">
    <div formArrayName="mobile">
        <div *ngFor="let m of test.get('mobile')['controls'];let i=index"> 
            Mobile Number {{i}}<input type="text" class="form-control"  formControlName="{{i}}">
            <button (click)="delete(i)">De</button>
        </div>
    </div>
</form>
<button class="btn-primary" (click)="Add()">Enter</button> -->



<!-- <form [formGroup]="reg">
    Name:
    <input type="text" class="form-control" formControlName="nname">
    Email:
    <input type="email" class="form-control" formControlName="eemail">
    
    <div formArrayName="mmobile">
        <ng-container *ngFor="let m of this.reg.get('mmobile')['controls'];let i=index">
            Mobile {{i+1}}<input type="number" class="form-control"  formControlName="{{i}}">
        </ng-container>
    </div>

</form> -->


<!-- <form action="" [formGroup]="register">
    Class:
    <input type="text" class="form-control" formControlName="classes">
    <p class="error-msg" *ngIf="this.register.get('classes').touched && this.register.get('classes').errors?.['duliclass']">Class exist</p>
    <button (click)="Show()"></button>

</form> -->

<!-- <app-template-form></app-template-form> -->

<!-- <input type="text" [(ngModel)]="mobiles">

<button (click)="addMobile()">Send</button>
<button (click)="deleteMobile()">delete</button>
<app-check [mobile]="mList" ></app-check> -->
<app-sample></app-sample>